@charset "UTF-8";

body {
            background-color: lightgray;
            font-size: 20px;
        }
        h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: darkblue;
            text-decoration: underline;
            text-align: center;
        }
        p {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: rgba(19, 139, 219, 0.719);
            text-align: center;
        }