@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightblue;
}

h1 {
    text-align: center;
    margin: 10px auto 10px auto;
}
a {
    margin: 0px 20px 0px 20px;
    padding: 5px;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    background-color: rgb(53, 138, 236);
    border-radius: 5px;
    transition-duration: .3s;
}

header {
    background-color: rgb(114, 170, 233);
    padding: 20px;
}

menu {
    background-color: rgb(60, 96, 196);
    padding: 15px;
    border-radius: 5px;
}

h2 {
    padding: 8px;
    text-align: center;
}

article {
    background-color: white;
    width: 500px;
    margin: 50px auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.438);
}

main p {
    text-align: justify;
    text-indent: 10px;
}

footer {
    background-color: rgb(64, 98, 209);
    padding: 10px;
    color: white;
}