@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #146152, #44803F, #B4CF66);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #203d1ede; 
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FF5A33;
    text-align: center;
    text-shadow: 1px 1px 0px #a53a22bb;
}

h2 {
    color: #44803F;
}

p {
    text-align: justify;
}