@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    margin: 0;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Merienda', sans-serif;
}

header {
    background-color: white;
    margin: 0px 20px 0px 20px;
    padding: 0px 0px 10px 0px;
    border-radius: 10px;
}

nav {
    background-color: rgb(63, 61, 61);
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
}

nav > a {
    color: white;
    margin: 50px;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 7px 7px 12.5px rgba(63, 61, 61, 0.596);
    padding: 30px;
    margin: 30px 75px 30px 75px;
    text-align: justify;
}

main > h2 {
    text-align: center;
}

footer {
    background-color: rgb(63, 62, 62);
    padding: 5px;
    color: white;
    text-align: right;
    margin: 0;
}