@charset "UTF-8";

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

menu { display: none; }

 article {
    width: 95vw;
    box-shadow: 0px 0px 0px;
 }

 p { font-family: 'Times New Roman', Times, serif; } 

 div { border: 3px solid black;}

 footer { display: none; } 
 #phone { display: none; }
 #print { display: block; }